@keyframes banner {
  20% {
    background-image: url(/img/porcelanato/Eliane/nero-marquina\ polido.jpg);
  }
  40% {
    background-image: url(/img/porcelanato/Portobello/timeless\ polido.webp);
  }
  60% {
    background-image: url(/img/porcelanato/Portobello/avantgarde-solar.webp);
  }
  80% {
    background-image: url(/img/porcelanato/Eliane/carvalho-fume.jpg);
  }
}

body {
  background-image: url(/img/porcelanato/background-portobello.webp);
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
}

header {
  width: 100%;
}

#header-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header-top h3 {
  color: #fcf4f4;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  font-family: "Roboto Flex", sans-serif;
}

#header-title {
  width: 100%;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#0f0e0e, #c2b2b2);
}
#header-title h1 {
  color: #ecedad;
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 7px;
}

#nav-box {
  margin-top: 5px;
  height: 50px;
  background-color: #c2b2b2;
  display: flex;
  background-image: linear-gradient(#0f0e0e, #c2b2b2);
}

#nav-menu {
  display: flex;
  justify-content: start;
  align-items: center;
}

.menu-item a {
  padding: 10px;
  margin: 50px;
  font-size: 18px;
  text-transform: uppercase;
  color: #fcf4f4;
  font-weight: 500;
  letter-spacing: 1.5px;
  font-family: "Roboto Flex", sans-serif;
  font-style: normal;
}
.menu-item a:hover {
  border-bottom: 4px solid #fcf4f4;
  border-left: 4px solid #fcf4f4;
  border-top: 3px solid #fcf4f4;
  border-radius: 8px;
  transition: 0.5s;
}

.banner {
  width: 100%;
  height: 250px;
  background-image: url(/img/porcelanato/Portobello/V-stone.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  animation-name: banner;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  opacity: 0.8;
  position: relative;
}
